<!doctype html>
<html lang="en" ng-app="myApp">
<%include head%>
<body ng-controller="AboutCtrl" back-img>
  <div class="container profil">
    <div class="profile span6">
      <h1 class="name">Francisco Rojas</h1>
      <h2 class="headline">Software Engineer</h2>
      <div class="meta">
        <p><i class="icon-map-marker icon-white"></i> Santiago, Chile</p>
        <p><i class="icon-briefcase icon-white"></i> Groupon</p>
        <p><i class="icon-envelope icon-white"></i> fro<a href="http://www.google.com/recaptcha/mailhide/d?k=01sasl00nAlHSJ6HqXMHgmtw==&amp;c=GVMZiLYc8hGZ7-ivmU3ZFQn8fHBY97oI90GaL8SvoZQ=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501sasl00nAlHSJ6HqXMHgmtw\75\75\46c\75GVMZiLYc8hGZ7-ivmU3ZFQn8fHBY97oI90GaL8SvoZQ\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...</a>@alumnos.utalca.cl</p>
      </div>

      <ul class="services inline">
        <li><a class="twitter" href="https://twitter.com/frojasg"></a></li>
        <li><a class="linkedin" href="http://www.linkedin.com/in/frojasg"></a></li>
        <li><a class="github" href="https://github.com/frojasg"></a></li>
        <li><a class="kippt" href="http://kippt.com/frojasg"></a></li>
        <li><a class="foursquare" href="http://foursquare.com/frojasg"></a></li>
        <li><a class="flickr" href="http://www.flickr.com/photos/frojasg"></a></li>
        <li><a class="instagram" href="http://instagram.com/frojasg"></a></li>
        <li><a class="speakerdeck" href="https://speakerdeck.com/frojasg"></a></li>
      </ul>
    </div>
  </div>

  <%include footer%>
</body>
</html>
