/* app css stylesheet */
.background {
  background: url('/img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profile {
  color: #FFF;
  display: block;
  background-color:rgba(0,0,0,0.5);
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: ease-in;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.twitter {
  background: url('/img/twitter.png') center no-repeat;
  background-size: 32px 32px;
  padding-left: 0;
  font-style: normal;
  font-weight: normal;
  height: 32px;
  width: 32px;
  display: block;
}

.github {
  background: url('/img/github.png') center no-repeat;
  background-size: 32px 32px;
  padding-left: 0;
  font-style: normal;
  font-weight: normal;
  height: 32px;
  width: 32px;
  display: block;
}

.linkedin {
  background: url('/img/linkedin.png') center no-repeat;
  background-size: 32px 32px;
  padding-left: 0;
  font-style: normal;
  font-weight: normal;
  height: 32px;
  width: 32px;
  display: block;
}

.lastfm {
  background: url('/img/lastfm.png') center no-repeat;
  background-size: 32px 32px;
  padding-left: 0;
  font-style: normal;
  font-weight: normal;
  height: 32px;
  width: 32px;
  display: block;
}

.instagram {
  background: url('/img/instagram.png') center no-repeat;
  background-size: 32px 32px;
  padding-left: 0;
  font-style: normal;
  font-weight: normal;
  height: 32px;
  width: 32px;
  display: block;
}
.foursquare {
  background: url('/img/foursquare.png') center no-repeat;
  background-size: 32px 32px;
  padding-left: 0;
  font-style: normal;
  font-weight: normal;
  height: 32px;
  width: 32px;
  display: block;
}

.kippt {
  background: url('/img/kippt.png') center no-repeat;
  background-size: 32px 32px;
  padding-left: 0;
  font-style: normal;
  font-weight: normal;
  height: 32px;
  width: 32px;
  display: block;
}

.flickr {
  background: url('/img/flickr.png') center no-repeat;
  background-size: 32px 32px;
  padding-left: 0;
  font-style: normal;
  font-weight: normal;
  height: 32px;
  width: 32px;
  display: block;
}

.speakerdeck {
  background: url('/img/speakerdeck.png') center no-repeat;
  background-size: 32px 32px;
  padding-left: 0;
  font-style: normal;
  font-weight: normal;
  height: 32px;
  width: 32px;
  display: block;
}

.services {
  display: inline-block;;
}